Dockerfile
schema.sql
requirements.txt
setup.cfg
requirements-dev.txt
LICENSE
Dockerfile.mypy
CONTRIBUTING.md
config.example.py
units/*
assets/fonts/*
assets/profiles/*
assets/licenses/*
assets/icons/*
