Dockerfile
schema.sql
setup.cfg
requirements-dev.txt
LICENSE
Dockerfile.mypy
CONTRIBUTING.md
config.py
config.example.py
config.toml
config_example.toml
units/
assets/fonts/*
assets/profiles/*
assets/licenses/*
assets/icons/*
.git/
locales/**/*.po
