"""Ignore this"""
from discord.ext import commands

"""End ignore"""

"""The token it will use for auth with Discord."""
token = "my cool bot token"

"""The Postgres database credentials."""
database = {
    "database": "database_name",
    "user": "database_user",
    "password": "database_password",
    "host": "localhost",
}

"""A token for the Discord Bot List (DBL)."""
dbltoken = "dbltoken"

"""A token for the Bots For Discord Website (BFD)."""
bfdtoken = "bfdtoken"

"""All cogs to load on startup."""
initial_extensions = [
    "cogs.owner",
    "cogs.admin",
    "cogs.gambling",
    "cogs.adventure",
    "cogs.ranks",
    "cogs.trading",
    "cogs.miscellaneous",
    "cogs.server",
    "cogs.profile",
    "cogs.battles",
    "cogs.help",
    "cogs.vote",
    "cogs.crates",
    "cogs.patreon",
    "cogs.store",
    "cogs.marriage",
    "cogs.guild",
    "cogs.tournament",
    "cogs.classes",
    "cogs.images",
    "cogs.error_handler",
    "cogs.global_events",
    "cogs.raid",
    "cogs.music",
    "cogs.custom",
    "cogs.shard_communication",
]

"""The channel where vote logging is sent from. This is an ID."""
upvote_channel = 453_948_653_913_112_609

"""The prefix to use if none is set custom or we are in DMs."""
global_prefix = "$"

"""The channel ID to send join logs to."""
join_channel = 441_821_532_696_870_922

"""Defines whether it is a beta version or not. This would disable some parts, e.g. no longer post the stats to DBL and BFD."""
is_beta = False

"""A list of Admins by ID."""
admins = [
    356_091_260_429_402_122,
    373_797_591_395_205_122,
    395_938_979_293_167_617,
    270_624_053_809_643_522,
    222_005_168_147_922_944,
    147_874_400_836_911_104,
    278_269_289_960_833_035,
    291_215_916_916_801_536,
    213_045_557_181_022_209,
    210_510_122_810_605_569,
    294_894_701_708_967_936,
    254_234_402_354_233_344,
    340_745_895_932_854_272,
    438_443_378_498_338_816,
    525_139_442_663_424_011,
    322_354_047_162_122_243,
]

"""A list of banned users."""
bans = [
    314_210_539_498_897_418,
    326_069_549_042_630_657,
    416_072_373_750_595_584,
    283_291_722_749_050_883,
    298_267_992_221_810_689,
    121_469_467_782_807_552,
    155_696_684_716_785_664,
    206_439_870_288_101_386,
    448_987_127_712_317_465,
    138_058_071_619_534_848,
    440_648_947_850_149_888,
]

"""The support server ID."""
support_server_id = 430_017_996_304_678_923

"""A channel ID to send admin logs to."""
admin_log_channel = 457_197_748_626_653_184

"""All owners who have access to eval, sql and other commands."""
owners = [244_508_568_517_083_136, 356_091_260_429_402_122, 294_894_701_708_967_936]

"""Credentials for the Lavalink server."""
lava_creds = {
    "password": "password",
    "ws_url": "ws://127.0.0.1:2333",
    "rest_url": "http://127.0.0.1:2333",
}

"""This is the colour used in most embeds and for everything else. You know that yellow from somewhere ;)"""
primary_colour = 0xFFBC00

"""Our sentry URL to post bugs to."""
sentry_url = "https://whatever.sentry.url"

"""The token used to interact with the raid backend."""
raidauth = "my raid api auth code"

"""Imgur token used for uploads."""
imgur_token = "my secret imgur token"

"""The base URL for links."""
base_url = "https://idlerpg.travitia.xyz"

"""The Version of the Bot."""
version = "3.4.0"

"""Global cooldown (rate, per, [.user, .channel, .guild])"""
cooldown = commands.CooldownMapping.from_cooldown(1, 3, commands.BucketType.user)
