[Unit]
Description=IdleRPG
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/path/to/IdleRPG/
ExecStart=/usr/bin/python3 /path/to/IdleRPG/launcher.py
User=my_username
Restart=on-failure

[Install]
WantedBy=multi-user.target
