sly
uvloop
orjson
psutil
lru_dict
import_expression
tabulate
distro
asyncpg
python_chess
humanize
fantasy_names
dateparser
discord.py
discord_ext_menus
aiowiki
sentry_sdk
aioredis
wavelink
aioscheduler
tomli