git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
uvloop
python-Levenshtein
ujson
asyncpg
Pillow
aioredis
async_timeout
git+https://github.com/Pandentia/pylava
psutil
raven
git+https://github.com/Diniboy1123/raven-aiohttp
