git+https://github.com/Rapptz/discord.py@refs/pull/1849/merge
uvloop
python-Levenshtein
ujson
asyncpg
Pillow
aioredis
async_timeout
aiocontextvars
git+https://github.com/Pandentia/pylava
psutil
raven
git+https://github.com/Diniboy1123/raven-aiohttp
git+https://github.com/Kenvyra/fantasy-names
