[Unit]
Description=Okapi Container

[Service]
Type=simple
ExecStartPre=/usr/bin/podman pull gelbpunkt/okapi:latest
ExecStart=/usr/bin/podman run --rm --name okapi -v /opt/okapi/config.json:/okapi/config.json --pod idlerpg gelbpunkt/okapi:latest
ExecReload=-/usr/bin/podman stop okapi
ExecStop=-/usr/bin/podman stop okapi
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
