[Unit]
Description=Okapi Container

[Service]
Type=simple
ExecStartPre=/usr/bin/podman build -t okapi:latest /home/web/okapi.travitia.xyz/
ExecStart=/usr/bin/podman run --rm --name okapi --pod idlerpg okapi:latest
ExecReload=-/usr/bin/podman stop okapi
ExecStop=-/usr/bin/podman stop okapi
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
