[Unit]
Description=IdleRPG Container
After=podman-postgresql.service

[Service]
Type=simple
ExecStartPre=/usr/bin/podman pull gelbpunkt/idlerpg:latest
ExecStart=/usr/bin/podman run --rm --name idlerpgv4 -v /opt/idlerpg/config.py:/idlerpg/config.py --pod idlerpg gelbpunkt/idlerpg:latest
ExecReload=-/usr/bin/podman stop idlerpgv4
ExecStop=-/usr/bin/podman stop idlerpgv4
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
