[Unit]
Description=Andesite Container
After=network.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/podman pull natanbc/andesite:73f6afd4e192939f5dd531cf8d7e90f6c7ac0a49
ExecStart=/usr/bin/podman run --rm --pod idlerpg --name andesite -v /opt/andesite/application.conf:/andesite/application.conf natanbc/andesite:73f6afd4e192939f5dd531cf8d7e90f6c7ac0a49
ExecReload=-/usr/bin/podman stop andesite
ExecStop=-/usr/bin/podman stop andesite
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
