[Unit]
Description=Postgres Container
Depends=podman-idlerpg-pod.service

[Service]
Type=simple
TimeoutStartSec=300
ExecStartPre=-/usr/bin/podman pull postgres:13-alpine
ExecStart=/usr/bin/podman run --rm --pod idlerpg --name postgresql --shm-size 4G -v /home/idle/pgdata:/var/lib/postgresql/data:z -v /home/idle/pginit/init.sh:/docker-entrypoint-initdb.d/init.sh:z postgres:13-alpine -N 300
ExecReload=-/usr/bin/podman stop postgresql
ExecStop=-/usr/bin/podman stop postgresql
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
