[Unit]
Description=IdleRPG Pod

[Service]
Type=oneshot
TimeoutStartSec=300
ExecStartPre=/usr/bin/podman pod stop idlerpg -t 10
ExecStartPre=/usr/bin/podman pod rm idlerpg -f
ExecStartPre=/usr/bin/podman pod create --name idlerpg
ExecStop=-/usr/bin/podman pod stop idlerpg
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
