[Unit]
Description=Redis Container
Requires=podman-idlerpg-pod.service

[Service]
Type=simple
TimeoutStartSec=300
ExecStartPre=-/usr/bin/podman pull redis:6-alpine
ExecStart=/usr/bin/podman run --rm --pod idlerpg --name redis -v /home/idle/redisdata:/data:z redis:6-alpine redis-server --appendonly yes
ExecReload=-/usr/bin/podman stop redis
ExecStop=-/usr/bin/podman stop redis
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
